body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #43aca1;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    margin: 20px;
}

nav {
    width: 200px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
}

nav button:hover {
    background-color: #1767a1;
}

main {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color:white
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

